* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-register, .home {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #e9e9e9;
}
  
.login-register .container, .home .container {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.header {
    width: 100%;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#formLastName, #formFirstName, #formUserName, #formPassword, #formEmail {
    width: 100%;
}

.registered {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.unregistered{
  border-radius: 4px;
  background: #fff;
  cursor: not-allowed;
  opacity: .4;
  width: 100%;
}

.unregistered:active {
  background: #000;
  cursor: not-allowed;
  opacity: .4;
  width: 100%;
}

.unregistered:hover {
  background: grey;
  cursor: not-allowed;
  opacity: .4;
  width: 100%;
}

.leaflet-container{
  height: 500px;
  width: 100%
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.marker {
  background-image: url('leaflet/dist/images/marker-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.coordinates, #current-position {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}